/*
green
background-color: rgba(55,60,55,1);
background-color: rgba(80,95,75,1);
background-color: rgba(110,125,95,1);
background-color: rgba(175,190,125,1);
background-color: rgba(205,205,165,1);

ohre
background-color: rgba(185,160,85,1);
background-color: rgba(200,175,90,1);
background-color: rgba(200,180,100,1);
background-color: rgba(220,190,105,1);
background-color: rgba(255,245,165,1);

brown-orange
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
background-color: rgba(,,,1);
*/
body{
	background-color: rgba(239, 238, 237, 1);
	font-family: Calibri, Arial;
}
#menu{
	position: fixed;
	top: 10px;
	right: 10px;
	float: right;
	background-color: rgb(234, 230, 225);
	border:1px solid Black;
	font-size: 10pt;
	z-index: 100;
	/*box-shadow: Black 1px 1px 3px;*/
	/*box-shadow: #291109 0px 4px 8px;*/
	background-color: Oldlace;
	box-shadow: inset rgb(43, 47, 63) 0px 1px 8px;
}
/*.menupart{
	float: left;
	margin: 6px;
	text-align: center;
	height: 40px;
	font-size: 12pt;
	background-color: Linen;
	color: Linen;
	background: rgba(30,34,33,1) ;
    border: 2px solid rgba(192,167,106,1) ;
    border-bottom-color: Burlywood ;
    border-bottom-width: 3px ;
    border-left-color: Bisque ;
    border-left-width: 2px ;
    border-right-color: Burlywood ;
    border-right-width: 3px ;
    border-style: groove ;
    border-top-color: Bisque ;
    border-top-width: 2px ;
}*/

.menupart{
	float: left;
    margin: 6px;
    text-align: center;
    /*height: 40px;*/
    font-size: 12pt;
    /* background-color: Linen; */
    color: Linen;
    padding: 2px;
    background: rgba(30,34,33,1);
    border-radius: 0px 5px;
    /* border: 2px solid rgba(192,167,106,1); */
    /* border-bottom-color: Burlywood; */
    /* border-bottom-width: 3px; */
    /* border-left-color: Bisque; */
    /* border-left-width: 2px; */
    /* border-right-color: Burlywood; */
    /* border-right-width: 3px; */
    /* border-style: groove; */
    /* border-top-color: Bisque; */
    /* border-top-width: 2px; */
}

.menubtn{
	float: left;
	padding: 0px 10px;
	/*height: 100%;*/
	height: 39px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	border: 2px solid Black;
	border-radius: 0px 5px;
	cursor: pointer;
	background-color: Dimgray;
	color: Lightgoldenrodyellow;
}
a.menubtn{
	padding: 3px;
	height: 80%;
	width: 80%;
	line-height: 30px;
}
.menubtn:hover{border-color: Linen;}
.wrap{
width: 0;
width: 100%;
height: 0;
border-style: solid;
border-width: 0 20px 15px 20px;
border-color: transparent transparent rgba(118,112,75,1) transparent;
float: left;
padding-top: 10px;
color: rgba(118,112,75,1);
text-transform: uppercase;
}
.wrap:hover{
	border-color: transparent transparent rgb(104, 139, 156)  transparent;
	color: rgb(104, 139, 156);
	cursor: pointer;
}
.wrap_closed:hover{
	border-color: transparent transparent rgb(104, 139, 156)  transparent;
	color: Linen;
	cursor: pointer;
}
.wrap:active{
	border-color: transparent transparent rgb(34, 145, 199)  transparent;
}
.wrap_closed{
	width: 94.8%;
	margin-top: 0px;
	background-color: rgb(234, 230, 225);
	color: Linen;
}
span.wrap_closed,span.wrap{
	width: 95%;
}
.floatright{
	float: right;
	margin-right: 5px;
}
.floatleft{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.smallstat{
	width:1cm;
}
.xsmallstat{
	width:0.5cm;
}
.alert{background-color: Coral;}

#loading{
	display: none;
}
/*--- PRINT ---*/
	@media print{
		.warscroll{
			page-break-inside:avoid;
		}
		#menu,.noprint,.wrap_closed,.wrap,#overlay{
			display: none;
		}
		body{
			background-color: white;
			font-family: Calibri, Arial;
		}
	}




#menu{
	width: 200px;
	background-color: #bde2ce;
}
.menubtn{    padding: 0px 5px;}
a.menubtn{width: 175px;}
.warscroll{
	background-color: Gainsboro;
	border:1mm solid;
	width: 19.8cm;
	font-size: 8pt;
	page-break-inside:avoid;
}
.special{
	background-color: Cornsilk;
	border:1mm solid;
	width: 19.8cm;
	font-size: 8pt;
	page-break-inside:avoid;
}
.topborder{
	border-top:1mm solid Black;
	width: 100%;
}
.stats-header,.stats-text{
	margin: 0px;
	position: relative;
	float:left;
	text-align: center;
	border:solid Gray;
	border-width: 0.5mm;
}
.stats-header{
	background-color: Gainsboro;
	float:none;
	text-transform: uppercase;
	padding: 1mm;
}
.stats-text{
	background-color: white;
	border-color: gray;
	float:none;
	font-size: 8pt;
	padding: 1mm;
}
.name{
	padding-left: 3mm;
	line-height: 10mm;
	font-size: 12pt;
	color: White;
	background-color: black;
	text-transform: uppercase;
}
.abilityheader{
	background-color: white;
	padding-left: 1mm;
	border-right:0.5mm solid Gray;
	border-top:0.5mm solid Gray;
	width:3.8cm;
	font-size: 8pt;
	text-transform: uppercase;
}
.abilitytext{
	background-color: white;
	padding: 1mm;
	border-top:0.5mm solid Gray;
	font-size: 8pt;
}
.table-header{
	background-color: Gainsboro;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.h-25{height: 25px;}

.w-20{width: 20px;}
.w-30{width: 30px;}
.w-45{width: 45px;}
.w-100{width: 100px;}
.w-430{width: 430px;}

.modelnum{
	border: 1px solid;
	padding-left: 5px;
	position: absolute;
	left: 770px;
	width: 35px;
	background-color: Cornsilk;
	font-size: 12pt;
}

.modelpts{
	border: 1px black solid;
	padding: 5px;
	width: 35px;
	background-color: blanchedalmond;
	color: black;
	font-size: 12pt;
}
.weaponpts{
	border: 1px black solid;
	padding: 5px;
	width: 25px;
	background-color: White;
	color: black;
	font-size: 12pt;
	position: absolute;
	left: 820px;
}
.standard-table{
	border-top:1mm solid Black;
	width: 100%;
}
.standard-table td{
	border: 1px black solid;
	line-height: 20px;
	padding-left: 3px;
}
#detachmenttable td{
	border: 1px black solid;
	line-height: 20px;
	padding-left: 3px;
}
#detachments{
	position: absolute;
	top: 150px;
	left: 0px;
	background-color: Linen;
	border:1px solid Black;
	font-size: 8pt;
	display: block;
	z-index: 90;
}
#detachments select{
	font-size: 8pt;
}
#detachment td{
	border:1px solid rgba(64,58,34,1);
	border-top:3px solid black;
	text-align: center;
	height: 40px;
	width: 110px;
	vertical-align: top;
	font-size: 10pt;
}
#detachment td.cp{
	width: 30px;
}
.detachment-header{
	padding-top: 5px;
}
.clear-btn{
	width: 100%;
	height: 30px;
	margin-top: 5px;
}
.passive{
	background-color: rgba(64,58,34,1);
}
.aux{
	background-color: Beige;
}
.required{
	background-color: rgba(249,206,116,1);
}
.required-select{
	background-color: #e3f3de;
}
#overlay {
     visibility: visible; 
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 85;
    background-color: rgb(241, 235, 233);
}
#overlay div {
    /* width: 60%; */
    /* margin: 100px auto; */
    /* background-color: #fff; */
    border: 1px solid #000;
    padding: 15px;
    /* text-align: left; */
}
#detachments {
    position: absolute;
    /* top: 50px; */
    /* left: 0px; */
    /* width: 100%; */
    /* background-color: Linen; */
    border: 1px solid Black;
    font-size: 8pt;
    display: block;
    z-index: 90;
}
#detachments select {
    font-size: 10pt;
    width: 100px;
    height: 40px;
}

.copyright{
	position: absolute;
	    bottom: 0px;
	    width: 99%;
	    text-align: center;
}