.warscroll{
	background-color: Gainsboro;
	border:1mm solid;
	width: 19.8cm;
	font-size: 10pt;
	font-size: 8pt;
	page-break-inside:avoid;
}
.topborder{
	border-top:1mm solid Black;
	width: 100%;
}
.stats-header,.stats-text{
	margin: 0px;
	position: relative;
	float:left;
	text-align: center;
	border:solid Gray;
	border-width: 0.5mm;
}
.stats-header{
	background-color: Gainsboro;
	float:none;
	text-transform: uppercase;
}
.stats-text{
	background-color: white;
	border-color: gray;
	float:none;
	font-size: 8pt;
	padding: 1mm;
}
.name{
	padding-left: 3mm;
	line-height: 10mm;
	font-size: 12pt;
	color: White;
	background-color: black;
	text-transform: uppercase;
}
.abilityheader{
	background-color: white;
	padding-left: 1mm;
	border-right:0.5mm solid Gray;
	border-top:0.5mm solid Gray;
	width:3.5cm;
	font-size: 8pt;
	text-transform: uppercase;
}
.abilitytext{
	background-color: white;
	padding: 1mm;
	border-top:0.5mm solid Gray;
	font-size: 8pt;
}
.table-header{
	background-color: Gainsboro;
}