<!DOCTYPE html>
<html>
<head>
	<title>40K_builder_vue</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="css/40k.css">
	<link rel="stylesheet" type="text/css" href="css/general.css">
  <link rel="stylesheet" type="text/css" href="css/vm-40k.css">
</head>
<body>

<div id="builder">
  <div id="menu">
    <div class="menupart">
      <a href="index.html" class="menubtn">Menu</a>
    </div>
    <div class="menupart">
      <input type="button" id="roster-btn"  class="menubtn" value="Roster" title="Generate Army Roster"  v-on:click="getArmy"></input>
    </div>
    <div class="menupart">
      <div>Army select</div>
      <!-- <select name="armyselect" id="armyselect" size="1" v-model="selected" v-on:change="getArmy"> -->
      <select name="armyselect" id="armyselect" size="1" v-model="selected">
          <option v-for="(army, key) in armies" v-bind:value="key" v-bind:label="army.armyname" ></option>
      </select>
     <!-- <span>Выбрано: {{ selected }}</span> -->
    </div>

<!--     <div class="menupart">
      <div>Point system</div>
      <select name="pointsystem" id="pointsystem" size="1">
        <option value="powerpoints"  label="Power Points"></option>
        <option value="points" selected="selected" label="Matched Points"></option>
      </select>
    </div> -->

  </div>
  <div id="detachments">
    <table cellpadding = "0px" cellspacing = "0px" id="detachment"></table>
  </div>

  <div id="page">
    <!-- ROSTERTABLE -->
    <!-- SPECIAL RULES (Canticles of the Omnissiah, Warp Storm, etc) -->
    <!-- ADAPTATIONS (Dogma, Hive Fleet, etc) -->
    <!-- TRAITS -->
    <!-- RELICS -->
    <!-- MAGIC -->
    <!-- WARSCROLLS -->
      <!-- <div v-bind:id="dynamicId" v-for="(army, key) in armies"> -->
    <div id="unitlist"> 
      <span>{{ army.armyname }}</span>
      <!-- UNIT -->
        <div class="warscroll" v-if="selected" v-for="unit in units">
          <div>
            <div v-if="unit.models" class="name">
            {{unit.name}}
            ({{unit.role}})
            ({{unit.pointspermodel}} PTS)
            <span v-if="unit.models[0]==unit.models[1]">(Unique model)</span>
            <span v-else>({{unit.models[0]}} - {{unit.models[1]}} models)</span>
              <modelinput  
              v-bind:pts="unit.pointspermodel" 
              v-bind:name="unit.name" 
              v-bind:value="unit.models[0]"
              v-bind:min="0"
              v-bind:max="unit.models[1]"
              v-on:change="console.log(value)"
              ></modelinput>
              <!-- <span class="modelpts noprint">pts</span> -->
            </div>
            <div v-else class="name">{{unit.name}} ({{unit.role}}) ({{unit.pointspermodel}} PTS)
              <modelinput v-bind:pts="unit.pointspermodel"  v-bind:name="unit.name" v-bind:value="1" v-bind:min="0" v-bind:max="10"></modelinput>
            </div>
            <modelstats v-bind:model="unit"></modelstats>
          </div>
          <div v-if="unit.weaponbasic" class="topborder">
             <weaponheader></weaponheader>
             <weaponstats v-for="(weapon, key) in unit.weaponbasic" :key="weapon" v-bind:weapon="weapon" v-bind:weapons="weapons" v-bind:modelname="unit.name" v-bind:weaponmum="1"></weaponstats>
          </div>
          <div v-if="unit.weaponoption" class="topborder">
             <weaponheader></weaponheader>
             <weaponstats v-for="(weapon, key) in unit.weaponoption" :key="weapon" v-bind:weapon="weapon" v-bind:weapons="weapons" v-bind:modelname="unit.name" v-bind:weaponmum="0"></weaponstats>
          </div>
          <div>
            <div class="header">ABILITIES</div>
            <div v-for="(ability, key) in unit.abilities">
              <modelabilities v-bind:ability="key" v-bind:abilitytext="ability"></modelabilities>
            </div>
          </div>
          <div>
            <modelkeywords v-bind:model="unit"></modelkeywords>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <div id="copyright" class="copyright">
	<p>Web part, translation to russian, <a href="http://www.github.com/freealchemist">FreeAlchemist</a></p>
	<p>Contents copyright ©, <a href="http://www.games-workshop.com">Games Workshop</a></p>
</div> -->

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/general.js"></script>
<script type="text/javascript" src="js/library_40k.js"></script>
<!-- <script type="text/javascript" src="js/40k.js"></script> -->
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/vm-40k.js"></script>
</body>
</html>